{% extends 'layout.html' %}
{% block content %}
<h1 class="text-center">Propiedades Disponibles</h1>
{% for property in properties %}
<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <img src="{{url_for('static',filename='assets/casa2.jpg')}}" alt="img property" class="card-img-top">
            <br /><br />
            <h6 class="card-title"><span class="font-weight-bold">{{property['title']}}</h6>
            <h6 class="card-title"><span class="font-weight-bold">Price:</span>&nbsp;{{property['price']}}</h6>
        </div>
    </div>
</div>
<br />
{% endfor %}
{% endblock %}