{% extends 'layout.html' %}
{% block content %}
<h1 class="text-center">Propiedades de...</h1>
{% for property in properties%}
<div class="container">
    <div class="card-row">
        <img src="{{url_for('static',filename='assets/airbnb.jpeg')}}" alt="img property">
        <div class="card-body">
            <h5 class="card-title">{{property['title']}}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="font-weight-bold">Type:</span>{{property['type']}}</li>
            <li class="list-group-item"><span class="font-weight-bold">Address:</span>{{property['address']}}</li>
            <li class="list-group-item"><span class="font-weight-bold">Rooms:</span>{{property['rooms']}}</li>
            <li class="list-group-item"><span class="font-weight-bold">Price:</span>{{property['price']}}</li>
            <li class="list-group-item"><span class="font-weight-bold">Area:</span>{{property['area']}}&nbsp;<span>m/2</span></li>
        </ul>
        <div class="card-body">
            <a href="/updateproperty" class="btn btn-primary">Actualizar</a>
            <a href="#" class="btn btn-danger">Eliminar</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}